.subBanner { position: relative; z-index: 2; height: 85vh; display: flex; align-items: flex-end; padding: 0 0 100px 0; }
.subBanner:before { content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0, 22, 39, 0.22) 58.93%, #001627 97.48%); top: 0; left: 0; z-index: 1; }
.subBanner:after { content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(180deg, #001627 11.83%, rgba(0, 22, 39, 0.22) 35.71%); top: 0; left: 0; z-index: 1; }
.subBannerBgVideo { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.subBannerBgVideo:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../../images/full-website-bg-image.svg)center center no-repeat; background-size: cover; opacity: 0.7; }
.subBannerBgVideo:after { content: ''; position: absolute; width: 100%; height: 100%; background: #22346959; mix-blend-mode: multiply; top: 0; left: 0; }
.subBannerBgVideo video { width: 100%; height: 100%; object-fit: cover; }
.subBannerInner { position: relative; z-index: 2; }
.subBannerContent a { margin: 24px 0 0 0; }
.subBannerContent .subTextMd { font-family: var(--fontSecondary); }

/* resourceListingWrapper css */
.resourceImage img { width: 100%; height: 100%; object-fit: cover; }
.resourceTitle { position: absolute; bottom: 0; width: 100%; display: flex; align-items: center; gap: 20px; padding: 22px; background-color: #223469E5; box-shadow: 0px -1px 0px 0px #FBA81BCC; }
.resourceList { position: relative; }
.resourceTitle .subTextBase { color: var(--colorWhite); letter-spacing: 0.8px; width: calc(100% - 42px); text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }
.resourceTitle a { width: 32px; height: 32px; display: flex; align-items: center; justify-content: center; background-color: var(--colorSecondary); border-radius: 5px; font-size: 28px; }
.resourceImage { height: 300px; }
.resourceListing { margin: 84px 0; }
.resourceListingUl ul { display: flex; align-items: center; justify-content: center; position: relative; z-index: 3; }
.resourceListingUl ul li a { padding: 12px 28px; border: 1px solid #EAEFF352; color: #E7E9EA; letter-spacing: 1px; display: inline-block; }
.resourceListingUl ul li:first-child a { border-radius: 8px 0 0 8px; }
.resourceListingUl ul li:last-child a { border-radius: 0 8px 8px 0; }
.resourceListingUl ul li { display: inline-block; }
.resourceImage:before { content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(34, 52, 105, 0.34) 0%, rgba(251, 168, 27, 0.34) 100%); }